<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.news.yazhidao">

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".pages.MainAty"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pages.ChannelOperateAty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.NewsDetailAty2"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name=".pages.NewsDetailWebviewAty"
            android:screenOrientation="portrait" />
    </application>

</manifest>
