<manifest package="com.news.yazhidao"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        >
        <activity
            android:name=".pages.MainAty"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pages.ChannelOperateAty"
            android:screenOrientation="portrait"/>
        <!--/**2016年8月31日 冯纪纲 解决webview内存泄露的问题*/-->
        <activity
            android:name=".pages.NewsDetailAty2"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name=".pages.NewsDetailWebviewAty"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pages.PlayVideoAty"
            android:configChanges="orientation|screenSize|keyboardHidden"
             />
        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
